/* When screen width is 640px or more (tablet and larger) */
@media screen and (min-width: 640px) {
    .menu-header {
      font-size: 3.75rem; /* 6xl size for larger screens */
      margin-bottom: 1.5rem;
    }
  
    .slider-container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  
  /* When screen width is 640px or less (smaller devices like mobile) */
  @media screen and (max-width: 640px) {
    .menu-header {
      font-size: 1.5rem; /* smaller font size for mobile */
      margin-bottom: 1rem;
    }
  
    .slider-container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }